:root {
    --bg-body-color: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;
    --h1-color: color: #333;
    --h1-size: 36px;
    --h1-weight: 700;
    --text-form-color: #666;
    --text-header-form-size: 18px;
    --text-weight: 400;
    --button-form-color: #089FE0;
    --text-placeholder-weight: 600;
    --text-placeholder-size: 16px;
    --text-placeholder-color: #999;
    --text-button-primary: #FFFF;
    --text-footer-size: 14px;
}

body {
    background: var(--bg-body-color);
}

.reg-form__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #FFFEFE;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.reg-form__header h1 {
    color: var(--h1-color);
    font-size: var(--h1-size);
    text-align: center;
}

.reg-form__header p {
    color: var(--text-form-color);
    font-size: var(--text-header-form-size);
    font-weight: var(--text-weight);
}

.reg-form__header a {
    font-size: var(--text-header-form-size);
    font-weight: var(--text-weight);
    color: var(--button-form-color);
    font-weight: var(--text-weight);
    font-size: var(--text-header-form-size);
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.reg-form_label {
    display: none;
}

.reg-form_input::placeholder {
    font-weight: var(--text-placeholder-weight);
    font-size: var(--text-placeholder-size);
    color: var(--text-placeholder-color);
}

.button {
    font-size: var(--h1-size);
    font-weight: var(--text-placeholder-weight);
    background-color: var(--button-form-color);
    color: var(--text-button-primary);
}

.reg-form__footer {
    font-weight: var(--text-weight);
    font-size: var(--text-footer-size);
}

.reg-form__footer a {
    color: var(--button-form-color);
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.reg-form__footer label {
    display: none;
}